h3 {
    text-align: center;
}
    
.logo {
    width: 200px;
    align-self: center;
    margin: auto;
    display: block;
    padding: 10px;
}
.logo1{
    width: 50px;
}
    
ion-button {
    width: 100%;
}